---
layout: 'base.pug'
description: '⭐ Lets get closer! See who we are and what we do. Roofing, carpentry, building and painting in Melbourne. Call us: 📱0431 893 983'
metaTitle: 'Learn more about ProCare Home'
tagTitle: 'About'
preloadImg: '/images/roofing-service.jpg'
preloadCSS: '/css/about.css'
permalink: 'about/'
eleventyNavigation:
    key: 'About Us'
    order: 200
---
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->
section#int-hero
  h1#home-h About Us
  img(src="../../src/images/roofers.jpg" alt="roofers" sizes="(max-width: 850px) 850px, 1920px")
// ============================================
// Side By Side
// ============================================
section#sbs
  .cs-container
    // Left Image Section
    .cs-left
      img(src="../../src/images/roofing-service.jpg" alt="roofing service")
      img(src="../../src/images/construction.jpg" alt="house")
    // Right Content Section
    .cs-right
      span.cs-topper About Us
      h2.cs-title About Procare Home in Melbourne
      p.cs-text We began as a humble two-person team back in 2004, right here in Melbourne. With a shared passion for quality craftsmanship and a vision to help homeowners improve their living spaces, we took on small roofing and carpentry jobs, slowly building our reputation for reliable and skilled service. Word quickly spread, and with every satisfied customer, our team grew, allowing us to expand our range of services and tackle bigger projects across the city.
      p.cs-text Today, we’re proud to be a thriving team of dedicated professionals, offering comprehensive roofing, general building, painting, and carpentry services throughout Melbourne. Despite our growth, we’ve stayed true to our roots—prioritizing quality, trust, and customer satisfaction in every job we do. From small repairs to major renovations, we’ve built a company that homeowners know they can rely on, and we’re excited to continue delivering exceptional results for years to come.
      .cs-flex-group
        p.cs-flex-p
          | Our commitment to quality and customer satisfaction has been the foundation of our growth. We’re passionate about transforming homes and delivering top-notch service across Melbourne, and we look forward to helping more homeowners achieve their renovation dreams with the care and expertise we’re known for.
        span.cs-name Michael
        span.cs-job CEO-Founder
        img.cs-quote-icon(eleventy:ignore loading='lazy' decoding='async' src='https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg' alt='gavel' width='136' height='77')
      a.button-solid(href='') More About Us
// ============================================
// Final Call to Action
// ============================================
section#cta
  .container
    h2.title
      | Get It Done
      br
      |  With Us Today
    p
      | Ready to transform your home? Let’s get started today with expert services and guaranteed results. Click below to request your free quote and see how we can help!
    a.button-solid(href='/contact.html') Free Estimate
  img(src="../../src/images/roofing-service.jpg" alt="roofing service" sizes="(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px")


