---
layout: 'base.pug'
description: '⭐ Roof leaking? Need carpentry or painting? No Worries! We are here to help 🚀! Free estimate, call now: 📱0431 893 983'
metaTitle: 'Contact'
tagTitle: 'Contact'
preloadImg: '/images/cabinets2-1920w.webp'
preloadCSS: '/css/contact.css'
permalink: 'contact/'
eleventyNavigation:
    key: Contact
    order: 600
---
section#int-hero
  h1#home-h Contact Us
  img(src='../../src/images/a-man-on-the-roof.jpg', alt='a man on the roof', sizes='(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px')

section#cs-contact
  div.cs-container
    form#cs-form(name="Contact Form" method="post" netlify-honeypot="bot-field" data-netlify="true" data-netlify-recaptcha="true")
      div.cs-content
        span.cs-topper Contact
        h2.cs-title Get in Touch
        p.cs-text
          | We’re here to help with all your home improvement needs! Reach out today for a free quote, and let’s discuss how we can bring your vision to life. Our friendly team is ready to assist you.
      label
        | Name
        input#name(type="text" name="name" required placeholder="Name")
      label
        | Email
        input#email(type="text" name="email" required placeholder="Email")
      label
        | Phone
        input#phone(type="text" name="phone" required placeholder="Phone")
      label.shwehd
        input(name='bot-field')
      label
        | How Did You Find Us
        input#find(type="text" name="find-us" placeholder="How did you find us?")
      label.cs-label-message
        | Message
        textarea#message(name="Message" required placeholder="Write message...")
      div(data-netlify-recaptcha="true")
      button.cs-button-solid(type="submit") Submit Message

    div.cs-right-section
      // Email
      span.cs-header Email
      .cs-contact-block
        img(eleventy:ignore src="/assets/svgs/mail-icon.svg" alt="mail")
        a.cs-link(href="mailto:procarehomeimprovements1@gmail.com") #{client.email}
      // Phone
      span.cs-header Phone
      .cs-contact-block
        img(eleventy:ignore src="/assets/svgs/phone-icon.svg" alt="phone")
        a.cs-link(href="tel:+610431893983") #{client.phoneFormatted}
      // Address
      span.cs-header Address
      .cs-contact-block
        img(eleventy:ignore src="/assets/svgs/map-icon.svg" alt="map")
        a.cs-link(href='https://maps.app.goo.gl/oEfCa4JAStPH4D8Y9' rel="nofollow" target="_blank") #{client.address.lineOne}, #{client.address.city}

      // Background Image
      img(src='../../src/images/contact-img.jpg', alt='Contact information')