---
layout: 'base.pug'
description: '⭐ See our projects - Roofing, building, painting and carpentry in Melbourne. Get free estimate, Call Us Now: 📱0431 893 983'
metaTitle: 'Our projects'
tagTitle: 'Projects'
preloadImg: '/images/cabinets2-1920w.webp'
preloadCSS: '/css/projects.css'
permalink: 'projects/'
eleventyNavigation:
    key: Projects
    order: 300
---
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->
section#int-hero
  h1#home-h Our Projects
  img(src="../../src/images/roofers.jpg" alt="roofers" sizes="(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px")
// ============================================
// Gallery
// ============================================
section#gallery
  .cs-container
    .cs-image-group
      // Row 1
      .cs-row.cs-row-1
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port1.jpg' alt='painting of porch and walls' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port2.jpg' alt='construction of a wooden fence' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port3.jpg' alt='painting the room and installing doors' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port4.jpg' alt='installing a new roof' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port5.jpg' alt='installing a new porch and painting' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port6.jpg' alt='floor restoration and wall painting' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port7.jpg' alt='roof cleaning' sizes="(max-width: 600px) 200px, 400px")
      // Row 2
      .cs-row.cs-row-2
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port8.jpg' alt='roof installation' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port9.jpg' alt='new porch installation' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port10.jpg' alt='new porch is installed' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port11.jpg' alt='roof installation' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port12.jpg' alt='exterior painting of the house' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port13.jpg' alt='installation and painting of the porch' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port14.jpg' alt='roof cleaning and repair' sizes="(max-width: 600px) 200px, 400px")
      // Row 3
      .cs-row.cs-row-3
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port15.jpg' alt='installation of a new roof' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port16.jpg' alt='backyard renovation' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port17.jpg' alt='repair and cleaning of the roof after heavy rains' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port18.jpg' alt='exterior house painting and wall repair' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port19.jpg' alt='roof cleaning and restoration' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port20.jpg' alt='overhaul of the roof' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../../src/images/portfolio/port21.jpg' alt='wall repair and painting' sizes="(max-width: 600px) 200px, 400px")
    a.button-solid(href='/contact') Get Free Quote
// ============================================
// Final Call to Action
// ============================================
section#cta
  .container
    h2.title
      | Get It Done
      br
      |  With Us Today
    p
      | Ready to transform your home? Let’s get started today with expert services and guaranteed results. Click below to request your free quote and see how we can help!
    a.button-solid(href='/contact.html') Free Estimate
  img(src="../../src/images/wall-painting.jpg" alt="wall painting" lazy sizes="(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px")
