---
layout: 'base.pug'
description: 'Roof Repairs & Home Improvement in Melbourne | ProCare'
metaTitle: 'Roofing, building, painting and carpentry in Melbourne. Get emergency help right now! Free estimate, call now: 0431 893 983'
tagTitle: 'Home'
preloadImg: '/assets/images/blog/landing.jpg'
preloadCSS: '/css/local.css'
permalink: '/'
eleventyNavigation:
    key: 'Home'
    order: 100
---

section#hero
  .cs-container
    .cs-flex-group
      span.cs-topper Procare - Your Home Improvements in Melbourne
      h1.cs-title Your Local Roofing & Home Improvement Specialists
      p.cs-text We help home owners in Melbourne and its suburbs breathe new life into their homes. Whether it's through a simple renovation or full-blown restoration, we can do the job!
      a.cs-button-solid(href='tel:+610431893983' aria-label="Call now") Call Now!
      a.cs-button-transparent(href='/projects' aria-label="See our projects")
        img.cs-img(eleventy:ignore loading='lazy' decoding='async' src='https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg' alt='play icon' width='17' height='17' )
        | See our projects
  //   Background Image

  img.cs-picture.cool-guy(loading='lazy' decoding='async' src='images/roofing-and-home-improving-hero.jpg' alt='roofing and home improving in Melbourne' sizes="(max-width: 400px) 400px, (max-width:850px) 850px, 1920px")

// ============================================
// Services
// ============================================
section#services.services
  // Get Icons From flaticon.com
  .card
    picture
      img(eleventy:ignore aria-hidden='true' decoding='async' src='/assets/svgs/roofing-icon.svg' alt='roofing' width='48' height='48')
    h2 Roofing
    p We provide expert roof repairing, from new tin roofs and flexible pointing to leak repairs and gutter cleaning. We ensure top-quality workmanship to keep your roof in perfect condition, no matter the job.
  .card
    picture
      img(eleventy:ignore aria-hidden='true' decoding='async' src='/assets/svgs/general-building-icon.svg' alt='general building' width='48' height='48')
    h2 General building
    p We offer expert general building services, including re-stumping and brick fencing, delivering quality, durability, and reliable solutions for all your home improvement needs.
  .card
    picture
      img(eleventy:ignore aria-hidden='true' decoding='async' src='/assets/svgs/carpentry-icon.svg' alt='carpentry and painting' width='48' height='48')
    h2 Carpentry & painting
    p Our team provides expert carpentry services like decking and wood treatment, delivering precise, long-lasting results. We also handle interior, exterior, and roof painting with a flawless finish.
// ============================================
// Side By Side
// ============================================
section#sbs
  .cs-container
    // Left Image Section
    .cs-left
      img(src="../src/images/roofing-service.jpg" alt="roofing service" lazy sizes="(max-width: 600px) 100vw, 50vw")
      img(src="../src/images/construction.jpg" alt="house" lazy sizes="(max-width: 600px) 100vw, 50vw")
    // Right Content Section
    .cs-right
      span.cs-topper About Us
      h2.cs-title Procare Home Improvements
      p.cs-text At Procare Home Improvements, we are dedicated to delivering high-quality home improvement services across Melbourne. With years of experience, we specialize in roof repairing, general building, painting, and carpentry, ensuring that every project is completed with precision and attention to detail. Our team is fully insured, and we stand by our work, offering a 100% guarantee on all services. We take pride in serving local communities and offering reliable, professional solutions that meet the unique needs of each client.
      p.cs-text We believe in delivering exceptional value, offering free no-obligation quotes and a 10% discount on all services. Whether it’s a small repair or a major renovation, we treat every job with the same level of care and expertise. Our commitment to quality craftsmanship, coupled with our focus on customer satisfaction, makes us the go-to choice for homeowners looking to improve and protect their property.
      .cs-flex-group
        p.cs-flex-p
          | My goal is simple: to provide top-quality craftsmanship and reliable service that homeowners can trust. Every project we take on, no matter the size, is handled with care, precision, and a commitment to exceeding our clients’ expectations. Your home deserves the best, and we’re here to deliver.
        span.cs-name Michael
        span.cs-job CEO-Founder
        img.cs-quote-icon(eleventy:ignore loading='lazy' decoding='async' src='https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg' alt='gavel' width='136' height='77' sizes="(width: 136px) 100vw, 50vw")
      a.button-solid(href='/about' aria-label="More About Us") More About Us
// ============================================
// Extra Content To Rank
// ============================================
section#sbs-r
  .cs-container
    // Left Image Section
    .cs-left
      img(loading='lazy' decoding='async' src='../src/images/roof-installation.jpg' alt='roof installation' sizes="(max-width: 600px) 100vw, 50vw")
      img(loading='lazy' decoding='async' src='../src/images/man-sitting-roof.jpg' alt='man sitting roof' sizes="(max-width: 600px) 100vw, 50vw")
    // Right Content Section
    .cs-right
      span.cs-topper Every house needs a roof
      h2.cs-title Say Goodbye to Your Roofing Leaks
      p.cs-text You may probably be tired of dealing with constant roof leaks, cracked tiles, or poor roof drainage. Many of our customers come to us facing similar issues, with leaks damaging their homes and old roofs failing to keep out the weather. We’ve solved these problems by providing expert leak repairs, installing durable new tin roofs, and ensuring gutters are properly cleaned and maintained. Our clients are thrilled with the results, enjoying dry, secure homes that are protected from Melbourne’s unpredictable weather.
      p.cs-text When you trust us with your roofing needs, you’ll experience the same relief and satisfaction. The leaks will stop, the repairs will last, and you’ll finally have peace of mind. At Procare Home, we combine skilled workmanship with top-quality materials to ensure your roof is built to last.
      a.button-solid(href='/contact' aria-label="Request a free quote") Request a free quote
// ============================================
// Gallery
// ============================================
section#gallery
  .cs-container
    span.cs-topper Our Portfolio
    h2.cs-title See our expert craftsmanship and lasting home transformations
    .cs-image-group
      // Row 1
      .cs-row.cs-row-1
        img(loading='lazy' decoding='async' src='../src/images/portfolio/port1.jpg' alt='new hallway' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../src/images/portfolio/port4.jpg' alt='new home construction' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../src/images/portfolio/port7.jpg' alt='building a new wall' sizes="(max-width: 600px) 200px, 400px")
        // To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout
      // Row 2
      .cs-row.cs-row-2
        img(loading='lazy' decoding='async' src='../src/images/portfolio/port2.jpg' alt='new kitchen' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../src/images/portfolio/port5.jpg' alt='appartment addition' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../src/images/portfolio/port8.jpg' alt='new kitchen cabinets' sizes="(max-width: 600px) 200px, 400px")
        // To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout
      // Row 3
      .cs-row.cs-row-3
        img(loading='lazy' decoding='async' src='../src/images/portfolio/port3.jpg' alt='new kitchen cabinets' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../src/images/portfolio/port6.jpg' alt='new kitchen cabinets' sizes="(max-width: 600px) 200px, 400px")
        img(loading='lazy' decoding='async' src='../src/images/portfolio/port9.jpg' alt='new kitchen cabinets' sizes="(max-width: 600px) 200px, 400px")

        // To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout
    a.button-solid(href='/projects' aria-label="View Full Gallery") View Full Gallery
// ============================================
// Reviews
// ============================================
section#reviews
  .cs-container
    span.cs-topper Our Reviews
    h2.cs-title Words From Our Customers
    p.cs-text Hear directly from our satisfied customers about the quality, reliability, and craftsmanship they experienced with Procare Home Improvements.
    ul.cs-card-group
      // Review 1
      li.cs-item
        img.cs-item-img(aria-hidden='true' loading='lazy' decoding='async' src='https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png' alt='profile picture' width='80' height='80' sizes="(width: 80px), (height: 80px)")
        p.cs-item-p I couldn’t be happier with the work Procare Home Improvements did on my roof. They were professional, efficient, and the quality of their workmanship was outstanding. From fixing leaks to installing new gutters, they handled everything seamlessly. It’s such a relief to have found a reliable company that I can trust for all my home improvement needs. Highly recommended!
        span.cs-reviewer
          | James R.
          span.cs-desc Homeowner
        img.cs-item-stars(eleventy:ignore aria-hidden='true' loading='lazy' decoding='async' src='https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg' alt='stars' width='96' height='16')
      // Review 2
      li.cs-item
        img.cs-item-img(aria-hidden='true' loading='lazy' decoding='async' src='https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png' alt='profile picture' width='80' height='80' sizes="(width: 80px), (height: 80px)")
        p.cs-item-p Procare Home Improvements did an amazing job with both the painting and carpentry work on my home. They painted the entire exterior and built a beautiful deck, and I’m beyond impressed with the attention to detail. The team was friendly, worked quickly, and left everything spotless. The final results are stunning, and I couldn’t be happier with how it all turned out. I’ll definitely be calling them again for future projects!
        span.cs-reviewer
          | Emma S.
          span.cs-desc Homeowner
        img.cs-item-stars(aria-hidden='true' loading='lazy' decoding='async' src='https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg' alt='stars' width='96' height='16' sizes="(width: 96px), (height: 16px)")
    a.button-solid(aria-label='Read More Reviews Here' href='/reviews') Read More Reviews Here
// ============================================
// Final Call to Action
// ============================================
section#cta
  .container
    h2.title
      | Get It Done
      br
      | With Us Today
    p Ready to transform your home? Let’s get started today with expert services and guaranteed results. Click below to request your free quote and see how we can help!
    a.button-solid(href='/contact' aria-label="Get an Estimate Now") Get an Estimate Now
  img(loading='lazy' decoding='async' src='../src/images/wall-painting.jpg' alt='wall painting' sizes="(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px")
script(src='https://identity.netlify.com/v1/netlify-identity-widget.js')
script.
  if (window.netlifyIdentity) {
  window
  .netlifyIdentity
  .on('init', (user) => {
  if (!user) {
  window
  .netlifyIdentity
  .on('login', () => {
  document.location.href = '/admin/';
  });
  }
  });
  }
