/*-- -------------------------- -->
<---           Reviews          -->
<--- -------------------------- -*/

@use 'functions' as *;

/* Mobile */
@media only screen and (min-width: 0em) {
  #reviews {
    padding-top: toRem(120);
    padding-bottom: toRem(50);
    margin: auto;

    .container {
      width: 96%;
      max-width: toRem(1320);
    }

    .review {
      padding: toRem(64) toRem(30) toRem(18) toRem(30);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
      width: 100%;
      max-width: toRem(410);
      margin: auto;
      margin-bottom: toRem(100);
      border-radius: toRem(5);
      position: relative;
      background: #fff;
      display: flex;
      flex-direction: column;
      &:last-of-type {
        margin-bottom: 0;
      }

      .profile {
        display: block;
        height: toRem(99);
        width: toRem(99);
        margin-left: 0;
        border-radius: 50%;
        margin-bottom:  1rem;
        position: absolute;
        left: toRem(30);
        top: toRem(-51);
      }

      p {
        line-height: calc(24/18);
        margin-bottom: toRem(18);
        text-align: left;
      }

      .star-group {
        border-top: 1px solid #E7E7E7;
        padding-top:  1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: auto;

        .name {
          color: #1A1A1A;
          line-height: toRem(24);
          text-align: left;
          font-weight: bold;
          display: block;
        }

        .desc {
          color: #575757;
          font-weight: 400;
          display: block;
        }

        img {
          display: block;
          width: toRem(91);
          height: toRem(15);
          margin: 0;
        }
      }
    }
  }
}

/* Tablet */
@media only screen and (min-width: 48em) {

  #reviews {
    padding-top: toRem(150);
    padding-bottom: toRem(50);

    .container {
      font-size: min(1.4vw, 1em);
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
      column-gap: toRem(30);
    }

    .review {
      margin: 0 0 toRem(150);

      &:last-of-type {
        margin-bottom: toRem(150);
      }
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode {
    #reviews {
      .review {
        background: var(--medium);

        .name {
          color: #fff;
        }

        .desc {
          color: #fff;
          opacity: .7;
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: toRem(50) 0;

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: .7;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .container {
      text-align: center;
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -2;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .title {
      font-weight: 900;
      font-size: min(9vw, 3rem);
      line-height: calc(58/48);
      color: #fff;
      position: relative;
      margin-bottom: toRem(36);
      text-align: center;
    }

    p {
      color: #fff;
      text-align: center;
      opacity: 1;
      margin: auto auto toRem(36);
      width: 96%;
      max-width: toRem(598);

    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: toRem(168) 0;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: toRem(100);
    &:before {
      display: none;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      height: toRem(1108);
      width: toRem(2000);
      background: url("/assets/svgs/cta-squares.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -3;
    }
    .container {
      width: 90.0625%;
      margin: auto;
    }

    picture {
      width: 90.0625%;
      left: 50%;
      transform: translateX(-50%);

      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: .7;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode {
    #cta {
      &:after {
        display: none;
      }
    }
  }
}